@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* @media only screen and (max-width: 600px) {
  body {
    background-color: rgb(124, 124, 136);
  }
  .App {
    display: grid;
    grid-template-columns: 100%;
    
  }
} */

/* base styles */

* {
  margin: 0%;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 600px;
  margin: auto;
}
/* NavBar. 
Flex is the value of css display . By using display flex in parent elements, child elements automatically align like columns or rows with auto width and auto height*/

.navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #333;
}

.navbar-links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 4px;
}

.navbar a:hover {
  color: green;
}

.navbar h1 {
  color: green;
}

/* album preview/home */

.home {
  text-align: center;
}

.album-list h2 {
  color: green;
}

.album-preview {
  margin: 24px;
  border-bottom: 1px solid #333;
}

.album-preview:hover {
  box-shadow: 1px 1px 1px green;
}

.album-preview h4 {
  margin: 8px;
}

.album-preview img {
  box-shadow: 3px 3px 3px #333;
  border-radius: 5px;
}

/* album-details/button */

.album-list a {
  background: green;
  border: 0;
  font-size: 14px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.album-button {
  margin-bottom: 16px;
  margin-top: 12px;
}

.album-details img {
  height: 50%;
  box-shadow: 3px 3px 3px #333;
  border-radius: 5px;
}

/* search bar */

.home input {
  margin-bottom: 12px;
}
